<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}

</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/b.js"></script>
</html>
